.container{
  height : 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.inputcontainer h1{
  font-family: 'Playfair Display', serif;
  font-size: 3.5rem;
  color: white;
  margin-bottom: 1.5rem;
} 

.inputcontainer span{
  color: var(--primary-color);
}

.inputcontainer div{
  display: flex;
  margin-bottom: 2rem;
}

.inputcontainer input{
  width: 100%;
  padding: 0.5rem 0.2rem 0.5rem 0;
  text-indent: 1rem;
  border: none;
  outline: none;
  font-size: 1rem;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  /* background-color: aquamarine; */
}

.inputcontainer input::placeholder{
  font-size: 0.9rem;
}

.inputcontainer button{
  padding: 0 1rem;
  height : 3rem;
  font-size:0.8rem;
  text-transform: uppercase;
  font-weight: bold;
  border-top-right-radius: 3px;
  border-bottom-right-radius : 3px;
  color: beige;
  background-color: var(--primary-color);
  border: none;
  cursor: pointer;
}
/* Result */
.result{
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0.5rem 1rem;
}

.result p{
  color: #fff;
  border: 1px solid var(--primary-color);
  padding: 0.5rem 1rem;
  margin-left: 1rem ;
}

.result button{
  padding: 0.5rem 1rem;
  color: #fff;
  cursor: pointer;
  background-color: var(--primary-color);
  border: none;
  margin-left: 1rem ;
}

.noData {
  color: #fff;
  font-size: 1rem;
}

.result button.copied{
  background-color: #fff;
  color: var(--primary-color);
}

/* Background Animation */
html {
  height:100%;
}

body {
  margin:0;
}

.bg {
  animation:slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #6c3 50%, #09f 50%);
  bottom:0;
  left:-50%;
  opacity:.5;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-1;
}

.bg2 {
  animation-direction:alternate-reverse;
  animation-duration:4s;
}

.bg3 {
  animation-duration:5s;
}

.content {
  background-color:rgba(255,255,255,.8);
  border-radius:.25em;
  box-shadow:0 0 .25em rgba(0,0,0,.25);
  box-sizing:border-box;
  left:50%;
  padding:10vmin;
  position:fixed;
  text-align:center;
  top:50%;
  transform:translate(-50%, -50%);
}

h1 {
  font-family:monospace;
}

@keyframes slide {
  0% {
    transform:translateX(-25%);
  }
  100% {
    transform:translateX(25%);
  }
}